.contact-section {
    background-color: #0d0d0d;
    color: #fff;
    font-family: "Poppins", sans-serif;
    padding: 40px;
    width: 80%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    border: 1px solid rgba(255, 140, 0, 0.4);
    box-shadow: 0 0 20px rgba(255, 140, 0, 0.3);
}

.contact-section:hover {
    box-shadow: 0 0 30px rgba(255, 140, 0, 0.6);
    transform: translateY(-5px);
}

.contact-title {
    font-size: 2.5rem;
    color: #ff8c00;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 10px #ff8c00;
    transition: transform 0.3s ease, color 0.3s ease;
}

.contact-title:hover {
    color: #ffa733;
    transform: scale(1.05);
}

.contact-card {
    background-color: #141414;
    border: 1px solid rgba(255, 140, 0, 0.4);
    box-shadow: 0 0 20px rgba(255, 140, 0, 0.3);
    border-radius: 20px;
    padding: 30px;
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    transition: all 0.4s ease;
}


.contact-card:hover {
    box-shadow: 0 0 30px rgba(255, 140, 0, 0.6);
    transform: translateY(-5px);
}

.contact-box {
    background-color: #1a1a1a;
    border: 1px solid rgba(255, 140, 0, 0.3);
    border-radius: 12px;
    padding: 15px 20px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: all 0.3s ease;
    box-shadow: inset 0 0 10px rgba(255, 140, 0, 0.2);
}

.contact-box:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(255, 140, 0, 0.4);
}

.contact-icon {
    color: #ff8c00;
    font-size: 1.6rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.contact-box:hover .contact-icon {
    color: #ffa733;
    transform: rotate(-10deg) scale(1.2);
}

.contact-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.contact-link:hover {
    color: #ff8c00;
}

.contact-text>a {
    font-size: 1.1rem;
    color: #fff;
}

.social-area {
    margin-top: 25px;
    text-align: center;
}

.social-heading {
    font-size: 1.5rem;
    color: #ff8c00;
    margin-bottom: 15px;
    text-shadow: 0 0 8px #ff8c00;
}

/* Responsive */
@media (max-width: 768px) {
    .contact-section {
        padding: 30px 28px 0px 28px;
        border-radius: 40px;
    }

    .contact-title {
        font-size: 2rem;
    }

    .contact-link,
    .contact-text {
        font-size: 1rem;
    }

    .contact-icon {
        font-size: 1.3rem;
    }
}
